body {
  font-family: sans-serif;
  padding: 15px;
  background: #3b3837;
  color: #fff;
}
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #40a829;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
#status {
  margin-top: 15px;
  padding: 10px;
  background: #252628;
  border-radius: 6px;
  font-size: 14px;
}
